* {

    font-family: 'Open Sans', sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

section {
    display: flex;
    width: 95%;
    margin: 25px auto;
}

#Name{
    font-weight: bold;
}

.Header{
    color: orchid;
}

h1 {
    position: relative;
    top: -25px;
    left: -10px;
}