* {

    font-family: 'Lato', sans-serif;

}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
}

section {
	align: center;
    display: flex;
    width: 95%;
    margin: 25px auto;
	
}

#Name{
    font-weight: bold;
}

h1 {
    position: relative;
    top: -25px;
    left: -10px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
header {
  padding: 30px;
  height: 40px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  color: lightblack;
}
tr.header {
	color: #e25822;
}
table>thead {
	background: #22c8e2;
	opacity:0.7;
}
thead th{
    border-radius: 10px; 
}
section~footer li{
	list-style-type: none;
}